.deliveryparent {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  padding: 6px;
  border: 7px solid rgb(193, 192, 192);
}
.deliveryparent img {
  width: 100%;
  border-radius: 50%;
}
.fastdelievery {
  font-size: 17px;
  font-weight: bold;
  color: black;
  letter-spacing: 1px;
}
.Allparent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-align: center;
  margin-bottom: 30px;
}
.customer_heading {
  font-size: 30px;
  color: black;
  letter-spacing: 2px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
}
.fastpara {
  font-size: 15px;
  color: #3f3f3f94;
  text-align: center;
}
.topupbtn {
  margin-top: 55px;
  /* gg */

  cursor: pointer;
  z-index: 1000;
}
